.address {
  font-style: inherit;
  line-height: 1.71;
  color: var(--alt-title-color);
}

.address__margin:not(:last-child) {
  margin-bottom: 9px;
}

.address__map {
  color: inherit;
  text-decoration: none;
}
.address__contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
