.features {
  @extend %flex;
}

.features__position {
  margin-right: -30px;
}

.features__cards {
  flex-basis: calc((100% - 4 * 30px) / 4);
}

.features__cards-margin {
  margin-right: 30px;
}

.features__icon-wrap {
  @extend %flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--light-background);
}

.features__icon-wrap-margin {
  margin-bottom: 30px;
}

.features__titles {
  min-width: 270px;
  font-weight: 700;
  text-transform: uppercase;
}

.features__titles-margin {
  margin-bottom: 10px;
}

.features__text {
  min-width: 270px;
  line-height: 1.71;
}
